{{extend 'cbw_layout.html'}}
{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<div class="box_store_product box_radius mtop_normal left">
	<div class="box_product_detail left">                            
		<div class="box_content_main left">
	    	<div class="box_title left">
	             <div class="box_right_tab_item box_right_tab_item_active fs18 left">Giới thiệu</div>
	        </div>
	        <div class="box_right_product left mtop_normal mbot_normal">
				<h3> Công ty Cổ phần Sách điện tử Giáo dục EDC</h3>
				<span class="content">Công ty Cổ phần Sách điện tử Giáo dục EDC là đơn vị thành viên của Nhà xuất bản Giáo Dục Việt Nam, có chức năng và nhiệm vụ chính nghiên cứu xây dựng giải pháp cung cấp sách giáo khoa điện tử, các tài liệu, học liệu điện tử, tư liệu giảng dạy, các phần mềm, ứng dụng và sản phẩm nội dung số, thiết bị đọc sách phục vụ cho mục đích giáo dục trên phạm vi toàn quốc. Là đơn vị đầu tiên và duy nhất thuộc NXB GD nhận nhiệm vụ số hóa và đưa nội dung toàn vẹn của sách giáo khoa vào thiết bị di động phục vụ chủ trương đổi mới giáo dục theo "Chiến lược phát triển giáo dục 2011-2020" và "Chương trình mục tiêu quốc gia về giáo dục và đào tạo đến năm 2020".</span><br />
				<br />
				<h3>Sách giáo khoa điện tử Classbook </h3>
				Thiết bị giáo dục Classbook là thiết bị giảng dạy và học tập di động chuyên dụng do người Việt Nam thiết kế và phát triển nhằm đáp ứng nhu cầu giảng dạy và học tập cho giáo viên và học sinh phổ thông. Vì vậy, các yêu cầu về phần cứng thiết bị được tiêu chuẩn hóa nhằm phục vụ yêu cầu đặc thù về giáo dục trong nhà trường và bảo vệ sức khỏe người sử dụng như màn hình cảm ứng đa điểm 8” chất lượng cao, tỷ lệ đảm bảo giống tỉ lệ của trang sách giấy. Thời lượng Pin lớn đủ để đọc sách liên tục được 8-12 giờ, tương đương 2 buổi học thông thường. Chức năng truy cập Internet thông qua Wifi đối với học sinh được kiểm soát tuyệt đối để chỉ dùng để kết nối vào Mạng phân phối sách điện tử và những mạng giáo dục được định tuyến trước đã được kiểm duyệt chặt chẽ về nội dung nhằm đảm bảo không có các nội dung không phù hợp đưa vào thiết bị. Phụ huynh và giáo viện có thể chủ động kiểm soát truy cập Internet của học sinh bằng mật khẩu cá nhận.
				<br /><br />
				
				<h4 style="margin-left: 20px;">Đối tượng sử dụng:</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">-	Giáo viên, học sinh và các bậc phụ huynh</div>

				<h4 style="margin-left: 20px;">Thiết bị dạy và học đa năng</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Cung cấp cho giáo viên công cụ hỗ trợ tốt nhất cho giảng dạy với các tính năng hữu ích <br />
                    -   Khai thác kho sách giáo viên, kho bài giảng và học liệu điện tử với các tính năng chụp tư liệu, tạo bài giảng và trình chiếu trên lớp. <br />
                    -   Kết nối dễ dàng với các thiết bị trình chiếu, bảng tương tác hoặc TV để truyền tải bài học, tư liệu mô phỏng...... <br />
                    -   Mang tới cho học sinh sự trải nghiệm trong từng bài học với các tính năng tương tác, tư liệu đa phương tiện trên mỗi trang sách, việc nắm và hiểu bài thông qua các bài tập trắc nghiệm với tất cả các môn học. <br />
                    -   Phụ  huynh  chủ  động  kiểm soát  kết  nối  internet  bằng  mật khẩu cá nhân. <br />
		        </div>
				
				<h4 style="margin-left: 20px;">Thư viện sách điện tử trong tay</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Tích hợp toàn bộ sách giáo khoa chuẩn với nội dụng mới nhất từ lớp 1 đến lớp 12 của Nhà Xuất Bản Giáo Dục Việt Nam chỉ trong một thiết bị gọn nhẹ tương đương với một cuốn sách truyền thống. <br />
		        </div>

				<h4 style="margin-left: 20px;">Nội dung Multimedia và Tương tác thông minh</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Học tiếng Anh với classbook :Chạm vào bất kỳ đoạn hội thoại nào trong sách tiếng Anh để nghe ngay đoạn hội thoại đó bằng giọng đọc tiếng Anh chuẩn và tra từ điển trực tiếp trên quyển sách Tiếng Anh. <br />
                    -   Nội dung đa phương tiện cho các môn học, kho dữ liệu, phim tài liệu hỗ trợ học tập với các môn văn học, lịch sử, địa lý.... kèm theo hệ thống làm bài tập trắc nghiệm gắn trong các bài học mang lại sự cảm nhận kiến thức đầy đủ cho người dùng. <br />
                    -   Cho phép tương tác bằng cách viết, vẽ, đánh dấu, thêm ghi chú vào từng trang sách. <br />
                    -   Các  ứng  dụng  bổ  trợ:  Thí  nghiệm  ảo,  mô  phỏng  sinh  học, toán, lý, hóa, sinh. <br />
		        </div>

				<h4 style="margin-left: 20px;">Kết nối dễ dàng mọi lúc, mọi nơi với kho sách và ứng dụng phong phú:</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Kết nối dễ dàng mọi lúc, mọi nơi với kho sách và ứng dụng trực tuyến classbook.vn với hàng ngàn đầu sách bổ trợ, sách tham khảo, sách giáo viên cùng hàng trăm ứng dụng và học liệu điện tử. <br />
                    -   Sử dụng kho tài nguyên bài giảng mẫu chọn lọc từ nguồn Violet.vn (hơn 5000 bài mẫu) và trải nghiệm các ứng dụng dạy và học hữu ích. <br />
                    -   Chương trình bối dưỡng phương pháp dạy tiếng Anh “Shaping the way we teach English” cho giáo viên của Trường ĐH Ngoại ngữ - Đại Học Quốc Gia Hà nội. <br />
                    -   Cập nhật nhanh chóng và miễn phí mọi tái bản của sách giáo khoa và sách bổ trợ trong suốt thời gian sử dụng Classbook. <br />
                    -   Các nội dung, ứng dụng có độ tin cậy cao và đã được thẩm định trước khi đưa vào khai thác. <br />
                    -   Giá sách tham khảo bản điện tử giảm tới 70% so với sách giấy. <br />
		        </div>

				<h4 style="margin-left: 20px;">Sẵn sàng kết nối với phòng học thông minh</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Dễ dàng kết nối giữa thiết bị của giáo viên và học sinh để trở thành mô hình phòng học thông minh với giải pháp “ phòng học classbook sử dụng sách giáo khoa điện tử Classbook”. <br />
                    -   Giáo viên dễ dàng quản trị lớp học, chụp, trình chiếu, chia sẻ cho học sinh bài giảng cũng như bài làm mẫu của các bạn. Dễ dàng soạn thảo và ra bài kiểm tra trắc nghiệm đánh giá học sinh ngay trên lớp, khảo sát việc tiếp thu kiến thức đã học để thầy trò cùng có tiết học hiệu quả. <br />
                    -   Học sinh tham gia lớp học, đóng góp ý kiến, thảo luận nhóm và làm các bài tập ngay trên SGK điện tử Classbook. <br />
		        </div>

				<h4 style="margin-left: 20px;">Sản phẩm giành được nhiều giải thưởng uy tín</h4>
				<div style="margin-left: 20px; margin-bottom: 5px;">
					-	Giải thưởng Nhân Tài Đất Việt 2012 <br />
                    -   Giải thưởng Sao Khuê 2013 <br />
                    -   Giải thưởng Sáng tạo Khoa học công nghệ VIFOTEC 2013 <br />
                    -   Giải thưởng Sáng tạo Khoa học công nghệ VIFOTEC 2014 <br />
                    -   Giải thưởng Sao Khuê 2015 <br />
		        </div>
	        </div>
	    </div>
	</div>
</div>