<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        function getMobileOperatingSystem() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

            if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i) || userAgent.match(/iPod/i)) {
                return 'iOS';

            }
            else if (userAgent.match(/Android/i)) {
                return 'Android';
            }
            else {
                return 'unknown';
            }
        }
        if (getMobileOperatingSystem() == "iOS") {
            window.location.href = "https://itunes.apple.com/us/app/classbook/id942940905?mt=8";
        } else if (getMobileOperatingSystem() == "Android") {
            window.location.href = "https://play.google.com/store/apps/details?id=com.edc.classbook.app";
        } else {
            window.location.href = "http://classbook.vn/static/cbwindow/free/Classbook.exe";
        }
    </script>
</head>
<body>

</body>
</html>