{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

        <!-- breadcrumb -->
        <div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">NXB/ Tác Giả</li>
            </ol>
        </div>
        <!--/breadcrumb -->
        <div class="cate-content">
        	<div class="ap-block ap-01">
            	<div class="ap-right"><img src="{{=URL('static','store2.2/images/ap-01.jpg')}}" title=""></div>
                <div class="ap-left">
                    <h1 class="cate-name">NXB/ Tác Giả</h1>
                    <h2 class="cate-sub">Cơ hội tiếp cận với độc giả</h2>
                    Hơn 40 nghìn người sử dụng kho sách Classbook, trải dài khắp các tỉnh thành trên cả nước cùng với nền tảng kho nội dung phong phú. Thông qua mạng lưới Classbook, các nội dung giáo dục (sách/ứng dụng) của nhà cung cấp sẽ tiếp cận được tới cộng đồng độc giả là giáo viên, học sinh và phụ huynh, từ đó đem lại hiệu quả kinh doanh tối ưu.
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ap-block ap-recent ap-02">
                <div class="ap-left"><img src="{{=URL('static','store2.2/images/ap-02.jpg')}}" title=""></div>
                <div class="ap-right"><h2 class="cate-sub mt20">Kết nối xuất bản</h2>
                	Khi đã sẵn sàng hợp tác với Classbook, nhà cung cấp cần hoàn thành hồ sơ tài khoản. Hãy xem hướng dẫn đơn giản của chúng tôi và điền thông tin tại form <a target="_blank" href="/cpa/users/index/register" title="">đăng ký</a>
                    <p class="mt10">* Tỷ lệ chia sẻ doanh thu hấp dẫn.</p>
                    <p style="margin-left: 20px">- Tỷ lệ chia sẻ được duy trì ở mức hợp lý nhất nhằm giúp tối ưu hóa doanh thu cho cả hai bên.</p>
                    <p>* Thanh toán nhanh và đúng hạn.</p>
                    <p style="margin-left: 20px">- Sau khi đối tác kiểm tra và xác nhận doanh thu, Classbook sẽ thực hiện việc quyết toán doanh thu cho nhà cung cấp qua tài khoản ngân hàng.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ap-block ap-03">
                <div class="ap-top"><h2 class="cate-sub mt20">Kiểm soát nội dung</h2>
                	Classbook cung cấp hệ thống quản trị chuyên nghiệp giúp xuất bản và quản lý nội dung dễ dàng và hiệu quả.
                    <p style="margin-top: 15px">- Hệ thống thống kê doanh thu theo lượt tải chính xác và chi tiết.</p>
                    <p>- Hệ thống theo dõi lượt tải giúp nhà cung cấp cập nhật các chỉ số nhanh chóng (thêm hình ảnh trong báo cáo thống kê như số lượt tải, số tiền, biểu đồ, chi tiết sách tải)</p>
                    <p>- Hệ thống đối soát chính xác, minh bạch</p>
                </div>
                <div class="ap-bottom"><img src="{{=URL('static','store2.2/images/ap-03.jpg')}}" title=""></div>
                <div class="clearfix"></div>
            </div>
            <div class="author-faq">
                <h2 class="cate-sub">Câu hỏi thường gặp</h2>
            	<ul>
                	<li>
                    	<h3><span class="af-number">1,</span> Làm thế nào tôi có thể đưa sản phẩm của mình lên Classbook?</h3>
                        <p>Bạn có thể điền thông tin tại form <a style="color: #F28013" target="_blank" href="/cpa/users/index/register" title="">đăng ký</a> hoặc liên hệ trực tiếp với người phụ trách kinh doanh xuất bản theo số điện thoại 0902 138 004.</p>
                    </li>
                    <li>
                    	<h3><span class="af-number">2,</span> Sản phẩm của tôi có được bảo mật khi đưa lên Classbook hay không?</h3>
                        <p>Mọi sản phẩm được đưa lên Classbook đều đảm bảo tính Bảo mật 2 lớp. Mã hóa lần 1 ngay khi sản phẩm được đưa lên kho Classbook. Người dùng khi tải sách hoặc ứng dụng về thiết bị của mình cũng được mã hóa lần 2.Việc này đảm bảo sản phẩm chỉ được sử dụng duy nhất trên một thiết bị và chỉ ứng dụng của classbook mới có thể đọc được.</p>
                    </li>
                    <li>
                    	<h3><span class="af-number">3,</span> Làm thế nào để tôi có thể cập nhật sản phẩm của mình khi đã đưa lên Classbook?</h3>
                        <p>Sau khi hợp tác, nhà cung cấp sẽ được tạo tài khoản CP theo dõi đầy đủ, chi tiết từng sản phẩm thuộc sở hữu của mình khi đưa lên Classbook. Nhà cung cấp có thể tự sửa đổi, cập nhật sản phẩm đã đưa lên Classbook.</p>
                    </li>
                    <li>
                    	<h3><span class="af-number">4,</span> Tôi có thể kiểm soát những con số thông kê nào từ sản phẩm của mình?</h3>
                        <p>Với tài khoản CP được cấp, nhà cung cấp sẽ thống kê được chính xác lượt tải từng sản phẩm, doanh thu cập nhật theo thời điểm chính xác đến từng đơn vị. Biểu đồ theo dõi so sánh, tỷ lệ chia sẻ doanh thu chi tiết có thể xuất ra dưới dạng file báo cáo.</p>
                    </li>
                    <li>
                    	<h3><span class="af-number">5,</span> Làm thế nào để kiểm soát việc sản phẩm của tôi đưa lên Classbook không bị chuyển tới nhà cung cấp thứ 3?</h3>
                        <p>Ngoài việc mỗi sản phẩm đều được bảo mật mã hóa 2 lớp, bạn có thể chắc chắn rằng cam kết này là một điều khoản không thể thiếu trong hợp đồng hợp tác. Đó là sự đảm bảo bằng uy tín và nguyên tắc luôn được đặt lên hàng đầu của chúng tôi.</p>
                    </li>
                    <li>
                    	<h3><span class="af-number">6,</span> Tôi không thể tìm thấy câu trả lời cho câu hỏi của mình. Tôi có thể nhận thêm sự trợ giúp ở đâu?</h3>
                        <p>Chúng tôi luôn sẵn sàng lắng nghe bạn.<br>
                                    Hỗ trợ kĩ thuật: 043-512-4007<br>
                                    Chăm sóc khách hàng: 047-302-0888<br>
                        Kinh doanh xuất bản: 0902 138 004<br>
                        Email: info@edcom.vn</p>
                    </li>
                </ul>
            </div>
        </div>