{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<div class="box_store_product box_radius mtop_normal left">
    <div  class="product_related left">
        <div class="box_right_title_product left">
            <a class="box_right_tab_item box_right_tab_item_active fs18 left" href="#">
                Thông báo
            </a>
        </div>
        <div class="box_right_product left mtop_normal mbot_normal">
            <div class="slide_product left" style="margin-left: 20px; font-size: 11pt;">
                <img src="{{=URL('static', 'images/under-construction.png')}}" class="left" width="128">
                <div style="font-size: 20px; margin-top: 20px">Chức năng đang bảo trì!</div>
            </div>
        </div>
    </div>
</div>