{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a href="index.html">Trang chủ</a></li>
              <li class="active">Thiết bị Classbook</li>
            </ol>
        </div>


        <div class="cate-list">
                <div class="news-list">
                    <iframe src="http://dathang.classbook.vn/" id="myIframe" frameborder="0" scrolling="no"
    style="position: relative; height: 2950px; width: 100%"></iframe>
                </div>
            </div>
        <style>
            .container {
    width: 1200px !important;
}
        </style>