{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}
<!-- breadcrumb -->
        <div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">Quên mật khẩu</li>
            </ol>
        </div>
        <!--/breadcrumb -->
        <!-- cate content -->
        <div class="cate-content">
            <h1 class="cate-name">Lấy lại mật khẩu</h1>
            <div class="cate-list">
            	<div class="cl-title cl-title-line">
                	<span class="clt"></span>
                    <div class="clearfix"></div>
                </div>
                <div class="form-page-container">
                	<div class="f-left">
                    	<div class="f-title">Nhập email bạn đã đăng ký để lấy lại mật khẩu</div>
                        <div class="f-form">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="forgot_email">
                                    </div>
                                </div>
                                <div class="form-group mt20">
                                	<div class="row mt10"></div>
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <a href="javascript:submitGetPass()" class="btn btn-classbook btn-lg">Nhận lại mật khẩu</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    <div class="f-right">
                    	<div class="f-title">Hoặc đăng nhập nhanh</div>
                        <a href="javascript:loginFB()" class="btn btn-social btn-facebook btn-block"><i class="fa fa-facebook"></i> Đăng nhập nhanh qua Facebook</a>
                        <!--<a href="#" class="btn btn-social btn-twitter btn-block"><i class="fa fa-twitter"></i> Đăng nhập nhanh qua Twitter</a>-->
                        <a href="javascript:loginGG()" class="btn btn-social btn-google-plus btn-block"><i class="fa fa-google-plus"></i> Đăng nhập nhanh qua Google+</a>
                        <div class="row mt20"></div>
                        <div class="fr-title mb10 mt20">Bạn chưa có tài khoản?</div>
                        <a href="/signup" class="btn btn-default btn-block" title="">Đăng ký ngay</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--/cate content -->
        <div class="clearfix"></div>

<script>
    function submitGetPass(){
        var email = $("#forgot_email").val();
        var url = "{{=URL(a='cbs', c='users', f='reset_user_pwd.json')}}/"+email;
        console.log(url)
        $.ajax({
            url: url,
            success: function(data){
                if (data.error){
                    alert(data.error)
                }
                else{
                    alert("Gửi yêu cầu khôi phục mật khẩu thành công, vui lòng kiểm tra email của bạn.");
                }
            }
        })
    }
</script>
<script>
  function getUserData() {
	FB.api('/me', function(response) {
		document.getElementById('response').innerHTML = 'Hello ' + response.name;
	});
}

window.fbAsyncInit = function() {
	//SDK loaded, initialize it
	FB.init({
		appId      : '880795605285397',
		xfbml      : true,
		version    : 'v2.2'
	});

	//check user session and refresh it
	FB.getLoginStatus(function(response) {
		if (response.status === 'connected') {
			//user is authorized
			document.getElementById('loginBtn').style.display = 'none';
			getUserData();
		} else {
			//user is not authorized
		}
	});
};

//load the JavaScript SDK
(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

//add event listener to login button
function loginFB(){
	//do the logi
	FB.login(function(response) {
		if (response.authResponse) {
            var access_token =   FB.getAuthResponse()['accessToken'];
            console.log('Access Token = '+ access_token);
            window.location.href = "/login?type=fb&access_token=" + access_token + "&location={{=URL()}}";
		}
	}, {scope: 'email,public_profile', return_scopes: true});
}
</script>

<script>
    function onLoadCallback()
    {
        gapi.client.setApiKey('AIzaSyDxWAgzZH9wB0MCVlJ7DXTHE1l0a-g-7Ks'); //set your API KEY
        gapi.client.load('plus', 'v1',function(){});//Load Google + API
    }
    function loginGG()
    {
      var myParams = {
        'clientid' : '211735881359-kkkmk84phqgglqgq1o578s0i89ngd5ur.apps.googleusercontent.com', //You need to set client id
        'cookiepolicy' : 'single_host_origin',
        'callback' : 'loginCallback', //callback function
        'approvalprompt':'force',
        'scope' : 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email'
      };
      gapi.auth.signIn(myParams);
    }
    function loginCallback(result)
    {
        if(result['status']['signed_in'])
        {
            window.location.href = "/login?type=gg&access_token=" + result['access_token'] + "&location={{=URL()}}";
        }
    }
</script>