{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}
<p style="margin-top: 20px">Vậy là chỉ còn vài ngày nữa, Lễ khai giảng cho năm học 2016 - 2017 sẽ được rộn ràng tổ chức ở khắp các trường học của cả nước.</p>
<p>Những ngày này là những ngày các em học sinh đang nô nức chuẩn bị cho một năm học mới. Và trong năm học năm nay, trên những kệ sách tại các Hiệu sách ở Hà Nội, bên cạnh những cuốn sách giấy truyền thống, Công ty CP Sách điện tử Giáo dục EDC sẽ mang đến một món quà đặc biệt, dành tặng cho các em học sinh cấp 1, đó là những bộ giftcard Classbook mua trọn bộ sách giáo khoa điện tử.</p>
<p>Với mỗi giftcard, các bậc phụ huynh và các em học sinh có thể tải trọn bộ sách giáo khoa mình cần dùng về các thiết bị smartphone hay tablet. Chỉ 50.000VNĐ/giftcard cho 1 bộ sách và các em có thể dùng ở bất cứ đâu các em muốn.</p>
<p>Mời các bậc phụ huynh và các em học sinh cùng tìm mua giftcard#Classbook tại các hệ thống nhà sách sau:</p>
<p>• Hệ thống cửa hàng Công ty CP Mỹ thuật và Truyền Thông</p>
<p><ul>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 387 Hoàng Quốc Việt, Cầu Giấy, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 17T2-17T3 Hoàng Đạo Thuý, Cầu Giấy, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 135A Trần Phú, Hà Đông, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 107-D5 Trần Thái Tông, Cầu Giấy, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 231C Nguyễn Trãi, Thanh Xuân, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại CT4A Bắc Linh Đàm, Hoàng Mai, Hà Nội</li>
    <li>Trung tâm Sách - Thiết bị Giáo dục AdcBook tại 593-594 Tân Mai, Hoàng Mai, Hà Nội</li>
</ul></p>
<p>• Hệ thống cửa hàng Công ty CP Sách và Thiết bị Giáo dục Miền Bắc</p>
<p><ul>
    <li>Cửa hàng 51 Lò Đúc</li>
    <li>Cửa hàng 18/30 Tạ Quang Bửu</li>
</ul></p>
<p>• Hệ thống cửa hàng Công ty CP Phát hành Sách Giáo dục</p>
<p><ul>
    <li>Cửa hàng 187 Giảng võ, Đống Đa, Hà Nội</li>
    <li>Cửa hàng 232 Tây Sơn, Đống Đa, Hà Nội</li>
    <li>Cửa hàng 116 Cầu Diễn, Từ Liêm, Hà Nội</li>
    <li>Cửa hàng F5 Trung Kính, Cầu Giấy, Hà Nội</li>
    <li>Cửa hàng, số 7 Xã Đàn, Đống Đa, Hà Nội</li>
    <li>Cửa hàng 96 Định Công, Hoàng Mai, Hà Nội</li>
    <li>Cửa hàng số 42 Cầu Bươu, Thanh Trì, Hà Nội</li>
</ul></p>
<p>• Nhà sách Thuận Thành, 42A Lý Thường Kiệt, Hoàn Kiếm, Hà Nội.</p>
<p>Chúc các em có một năm học mới thật thành công và ý nghĩa!</p>
<p><img src="{{=URL('static','store2.2/images/giftcard.jpg')}}"/></p>
<style>
    p{
        font-size: 1.1em;
        margin-left: 20px;
    }
    ul, li {
        list-style-type: circle;
        margin-left: 20px;
    }
</style>