{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<!--<object data="{{=URL('static', 'huong_dan_thanh_toan.pdf')}}" type="application/pdf" width="100%" height="6500px">

</object>-->
        <style>
            .fb{
                font-weight: bold;
            }
        </style>
        <div style="text-align: center; margin-top: 20px"><h3>Hướng dẫn nạp tiền</h3></div>
        <h4>1.	Đăng nhập tài khoản: xem tại mục 1 trong "Hướng dẫn mua ebook"</h4>
        <h4>2.	Nạp tiền vào tài khoản Classbook</h4>
        <p><img src="{{=URL('static', 'huong_dan_mua/image001.png')}}" width="80%" height="auto"></p>
        <h4>3.	Lựa chọn hình thức nạp tiền</h4>
        <p>3.1.	Nạp tiền bằng thẻ cào điện thoại</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image003.png')}}" width="80%" height="auto"></p>
        <p>3.2.	Nạp tiền bằng thẻ ngân hàng nội địa</p>
        <p>- Lựa chọn hình thức nạp tiền bằng thẻ ngân hàng nội địa</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image005.png')}}" width="80%" height="auto"></p>
        <p>3.3.	Nạp tiền bằng thẻ tín dụng và ghi nợ quốc tế</p>
        <p>- Lựa chọn hình thức nạp tiền bằng thẻ tín dụng</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image007.png')}}" width="80%" height="auto"></p>
        <p>3.4.	Nạp tiền bằng Ví ngân lượng điện tử</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image009.png')}}" width="80%" height="auto"></p>
        <p>- Hoàn thành nạp tiền bằng Ví ngân lượng:</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image011.png')}}" width="80%" height="auto"></p>