{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<!--<object data="{{=URL('static', 'huong_dan_mua.pdf')}}" type="application/pdf" width="100%" height="4500px">

</object>-->
        <style>
            .fb{
                font-weight: bold;
            }
        </style>
        <div style="text-align: center; margin-top: 20px"><h3>Hướng dẫn mua</h3></div>
        <h4>1.	Đăng ký/ Đăng nhập tài khoản</h4>
        <p class="fb">• Đăng ký tài khoản</p>
        <p>- Truy cập website classbook.vn, ấn Đăng ký</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image001.png')}}" width="80%" height="auto"></p>
        <p>- Nhập thông tin tài khoản và ấn Đăng ký, hoặc bạn cũng có thể đăng ký nhanh bằng tài khoản Facebook/Google</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image003.png')}}" width="80%" height="auto"></p>
        <p class="fb">•	Đăng nhập tài khoản:</p>
        <p>-Trên trang chủ classbook, chạm vào “Đăng nhập” để đăng nhập tài khoản đã đăng ký trước đó</p>
        <p><img src="{{=URL('static', 'huong_dan_mua/image005.png')}}" width="80%" height="auto"></p>
        <h4>2.	Lựa chọn sách cụ thể cần mua</h4>
        <p><img src="{{=URL('static', 'huong_dan_mua/image007.png')}}" width="80%" height="auto"></p>
        <h4>3.	Mua sách về</h4>
        <p><img src="{{=URL('static', 'huong_dan_mua/image009.png')}}" width="80%" height="auto"></p>
        <h4>4.	Hoàn thành thao tác mua sách về:</h4>
        <p><img src="{{=URL('static', 'huong_dan_mua/image011.png')}}" width="80%" height="auto"></p>
