{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}
<h1 align="center" class= "header_text">HƯỚNG  DẪN LẤY MÃ ƯU ĐÃI ỨNG DỤNG CLASSBOOK TRÊN QUÀ TẶNG GALAXY</h1>
<p class= "normal_text">Ứng dụng Sách  giáo khoa điện tử Classbook mới đây đã được Samsung mở rộng cho tất cả các điện  thoại, máy tính bảng của Samsung đã và đang bán trên thị trường Việt Nam (có hệ  điều hành Android 4.0 trở lên)<br />
  Khi sử dụng ứng  dụng Classbook, bạn sẽ được nhận mã ưu đãi tương đương tài khoản 150.000 đồng để  mua nội dung sách phong phú trên kho Classbook Store.<br />
  Để việc lấy  mã ưu đãi 150.000 đồng dễ dàng và thuận tiện hơn, bạn có thể tham khảo các bước  sau:<br><br>

  <strong><em>Bước 1: Vào ứng dụng Quà tặng GALAXY</em></strong><br />
  Trên màn hình máy tính bảng hoặc điện thoại  Samsung, bạn tìm chọn ứng dụng &ldquo;Quà tặng GALAXY&rdquo;<strong></strong></p>
<p align="center"><br />
  <strong><em><img src="{{=URL('static','huong_dan_gift_code_files/clip_image002.gif')}}" alt="" width="385" height="501" /></em></strong><strong></strong></p>
<p align="center">&nbsp;</p>
<p class= "normal_text">Trong &ldquo;Quà tặng GALAXY&rdquo;, bạn  chọn &ldquo;Ứng DỤNG MIỄN PHÍ&rdquo;</p>
<p align="center"><br />
  <strong><em><img src="{{=URL('static','huong_dan_gift_code_files/clip_image004.gif')}}" alt="" width="385" height="499" /></em></strong></p>
<p align="left" class= "normal_text"><br />
  Trong Ứng dụng miễn phí, bạn tìm chọn ứng dụng EDC  (Classbook) </p>
<p align="center"><br />
  <strong><em><img src="{{=URL('static','huong_dan_gift_code_files/clip_image006.gif')}}" alt="" width="385" height="500" /></em></strong></p>
<strong><em><br clear="all" />
</em></strong>
<p class= "normal_text"><strong><em>Bước  2: Lấy mã ưu đãi</em></strong><br />
  Sau khi chọn mục ứng dụng EDC (Classbook), bạn chọn &ldquo;Lấy  mã ưu đãi&rdquo;</p>
<p align="center"><br />
  <strong><em><img src="{{=URL('static','huong_dan_gift_code_files/clip_image008.gif')}}" alt="" width="385" height="500" /><br clear="all" />
</em></strong></p>
<ul class= "normal_text">
  <li>Chạm và giữ dãy chữ số hiển thị (mã ưu  đãi) để sao chép vào bộ nhớ tạm của máy.</li>
</ul>
<p align="center"><strong><em><img src="{{=URL('static','huong_dan_gift_code_files/clip_image010.gif')}}" alt="" width="385" height="500" /></em></strong></p>

<strong><em><br clear="all" />
</em></strong>
<p class= "normal_text"><strong><em>Bước  3: Nhập mã ưu đãi đã lấy vào ứng dụng Classbook để được cộng 150.000VNĐ trong  tài khoản</em></strong><br />
  Mở ứng dụng Classbook đã tải thành công trước đó, đăng  nhập thông tin tài khoản đã đăng ký (hoặc đăng nhập bằng Facebook/Google), ứng  dụng sẽ tự động mở ra cửa sổ &ldquo;Nhập mã ưu đãi&rdquo; </p>
<ul class= "normal_text">
  <li>Chạm &ldquo;Đồng ý&rdquo; để hiển thị cửa sổ dán mã ưu  đãi</li>
</ul>
<p align="center"><img src="{{=URL('static','huong_dan_gift_code_files/clip_image012.gif')}}" alt="" width="385" height="499" /><strong></strong></p>
<ul class= "normal_text">
  <li>Chạm và giữ ở khoảng trống &ldquo;Mã quà tặng&rdquo; để  hiển thị công cụ dán mã ưu đãi</li>
  <li>Chạm vào chữ &ldquo;Dán&rdquo; để dán mã ưu đãi đã sao  chép ban đầu.</li>
</ul>
<p align="center"><img src="{{=URL('static','huong_dan_gift_code_files/clip_image014.gif')}}" alt="" width="385" height="500" /></p>
<p class= "normal_text" align="left"><br clear="all" />
  Sau khi dán mã ưu đãi, tài khoản của bạn sẽ được cộng 150.000 đồng. Bạn có thể  vào mục &ldquo;Thông tin tài khoản&rdquo; để kiểm tra lại.</p>
<p align="center"><br />
  <img src="{{=URL('static','huong_dan_gift_code_files/clip_image016.gif')}}" alt="" width="384" height="499" /></p>
<p class= "normal_text">Giờ thì bạn có thể sử dụng  150.000 đồng để khám phá rất nhiều đầu sách phong phú trên Classbook Store.<br />
Mọi thắc mắc vui lòng  liên hệ với chúng tôi qua <strong>Tổng đài chăm sóc khách hàng: 04 73020888<strong>.</strong></strong><strong></strong></p>
<style>
.normal_text {
  font-size: 11pt;
  line-height:30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.header_text {
  font-size: 13pt;
  font-weight:bold;
  line-height:30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
</style>