{{extend 'cbw_layout.html'}}

{{block main_banner}}{{end}}

{{block title_content}}{{end}}

<!-- breadcrumb -->
        <div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">Hỗ trợ</li>
            </ol>
        </div>
        <!--/breadcrumb -->
        <!-- cate content -->
        <div class="cate-content">
            <div class="support-list">
            	<div class="sl-tabs">
                	<ul>
                    	<li class="active"><a href="#" title="">FAQs</a></li>
                        <li><a href="/support_form" title="">Phản hồi</a></li>
                        <li><a href="/warranty_adddevice" title="">Đăng ký bảo hành</a></li>
                        <li><a href="/support_manager" title="">Phần mềm quản lý</a></li>
                        <li><a href="/download" title="">Download</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="sl-content">
                    <ul class="nav nav-tabs line-tabs" role="tablist">
                        <li class="active"><a href="#tab-01" role="tab" data-toggle="tab">Các câu hỏi về nội dung</a></li>
                        <li><a href="#tab-02" role="tab" data-toggle="tab">Các câu hỏi về sử dụng</a></li>
                        <li><a href="#tab-03" role="tab" data-toggle="tab">Một số câu hỏi về Classbook CB01</a></li>
                    </ul> 
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-01">
                        	<div class="slc-item">
                            	<div class="slci">01</div>
                                <div class="slc-title">Khi NXBGD thay đổi nội dung Sách giáo khoa thì người dùng Classbook cập nhật lại bằng cách nào?</div>
                                <p>Khi NXBGD thay đổi nội dung Sách giáo khoa giấy thì đồng thời cũng sẽ cập nhật bản điện tử từ file chế bản. Khi đó người dùng Classbook sẽ được thông báo thông qua website: classbook.vn và có thể tải miễn phí các bản cập nhật từ Classbook Store về.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">02</div>
                                <div class="slc-title">Classbook CB02 có thể truy cập Internet hay không?</div>
                                <p>Classbook phiên bản mới có 2 chế độ sử dụng trên cùng một thiết bị: Chế độ sử dụng dành cho Phụ huynh, Giáo viên, Classbook không hạn chế người dùng truy cập Internet; Chế độ sử dụng dành cho Học sinh: kiểm soát truy cập Internet, nhằm đảm bảo các em Học sinh chỉ sử dụng Classbook cho mục đích học tập, khi kết nối Internet các em chỉ có thể truy cập Kho dữ liệu Classbook Store để tải thêm nhiều đầu Sách tham khảo, nâng cao và các ứng dụng bổ trợ khác. </p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">03</div>
                                <div class="slc-title">Classbook có thể cài thêm trò chơi hay đưa thêm tài liệu khác vào được không?</div>
                                <p>Khi NXBGD thay đổi nội dung Sách giáo khoa giấy thì đồng thời cũng sẽ cập nhật bản điện tử từ file chế bản. Khi đó người dùng Classbook sẽ được thông báo thông qua website: classbook.vn và có thể tải miễn phí các bản cập nhật từ Classbook Store về. </p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">04</div>
                                <div class="slc-title">Nội dung Classbook có sách giải hay không?</div>
                                <p>Classbook phiên bản mới có 2 chế độ sử dụng trên cùng một thiết bị: Chế độ sử dụng dành cho Phụ huynh, Giáo viên, Classbook không hạn chế người dùng truy cập Internet; Chế độ sử dụng dành cho Học sinh: kiểm soát truy cập Internet, nhằm đảm bảo các em Học sinh chỉ sử dụng Classbook cho mục đích học tập, khi kết nối Internet các em chỉ có thể truy cập Kho dữ liệu Classbook Store để tải thêm nhiều đầu Sách tham khảo, nâng cao và các ứng dụng bổ trợ khác. </p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">05</div>
                                <div class="slc-title">Khi NXBGD thay đổi nội dung Sách giáo khoa thì người dùng Classbook cập nhật lại bằng cách nào?</div>
                                <p>Khi NXBGD thay đổi nội dung Sách giáo khoa giấy thì đồng thời cũng sẽ cập nhật bản điện tử từ file chế bản. Khi đó người dùng Classbook sẽ được thông báo thông qua website: classbook.vn và có thể tải miễn phí các bản cập nhật từ Classbook Store về.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">06</div>
                                <div class="slc-title">Classbook CB02 có thể truy cập Internet hay không?</div>
                                <p>Classbook phiên bản mới có 2 chế độ sử dụng trên cùng một thiết bị: Chế độ sử dụng dành cho Phụ huynh, Giáo viên, Classbook không hạn chế người dùng truy cập Internet; Chế độ sử dụng dành cho Học sinh: kiểm soát truy cập Internet, nhằm đảm bảo các em Học sinh chỉ sử dụng Classbook cho mục đích học tập, khi kết nối Internet các em chỉ có thể truy cập Kho dữ liệu Classbook Store để tải thêm nhiều đầu Sách tham khảo, nâng cao và các ứng dụng bổ trợ khác. </p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">07</div>
                                <div class="slc-title">Classbook có thể cài thêm trò chơi hay đưa thêm tài liệu khác vào được không?</div>
                                <p>Khi NXBGD thay đổi nội dung Sách giáo khoa giấy thì đồng thời cũng sẽ cập nhật bản điện tử từ file chế bản. Khi đó người dùng Classbook sẽ được thông báo thông qua website: classbook.vn và có thể tải miễn phí các bản cập nhật từ Classbook Store về. </p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">08</div>
                                <div class="slc-title">Nội dung Classbook có sách giải hay không?</div>
                                <p>Classbook phiên bản mới có 2 chế độ sử dụng trên cùng một thiết bị: Chế độ sử dụng dành cho Phụ huynh, Giáo viên, Classbook không hạn chế người dùng truy cập Internet; Chế độ sử dụng dành cho Học sinh: kiểm soát truy cập Internet, nhằm đảm bảo các em Học sinh chỉ sử dụng Classbook cho mục đích học tập, khi kết nối Internet các em chỉ có thể truy cập Kho dữ liệu Classbook Store để tải thêm nhiều đầu Sách tham khảo, nâng cao và các ứng dụng bổ trợ khác. </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-02">
                            <div class="slc-item">
                            	<div class="slci">01</div>
                                <div class="slc-title">Giá thành của sản phẩm Classbook CB02 là bao nhiêu?</div>
                                <p>Hiện tại 1 sản phẩm Classbook phiên bản mới CB02 có giá 5.800.000 đồng bao gồm: 1 máy Classbook CB02, tai nghe, sạc, cáp, hướng dẫn sử dụng ( giá trên đã bao gồm VAT).</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">02</div>
                                <div class="slc-title">Classbook phiên bản mới có gì khác biệt?</div>
                                <p>Classbook phiên bản mới CB02 là sản phẩm giáo dục hợp tác với Tập đoàn Intel, tích hợp 2 chế độ sử dụng trên cùng một thiết bị. Người dùng có thể kết nối Wifi,chia sẻ Bluetooth,và hỗ trợ khe cắm nâng cấp 3G.Người dùng có thể tạo mật khẩu vào Wifi để hạn chế việc kết nối Internet tự do khi sử dụng với mục đích chỉ để học tập.
Ngoài nội dung multimedia tương tác và kho sách, ứng dụng phong phú, Classbook phiên bản mới còn được tích hợp thêm các chương trình học của Intel, giáo trình “Shaping The Way We Teach English” của Đại học Oregon đã được Việt hóa. Ngoài ra Classbook phiên bản mới cho phép kết nối giữa thiết bị của giáo viên và học sinh để trở thành mô hình phòng học thông minh với giải pháp “Phòng học tương tác sử dụng Sách giáo khoa điện tử Classbook”.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">03</div>
                                <div class="slc-title">Cấu hình, hệ điều hành và dung lượng pin của máy như nào?</div>
                                <p>Classbook CB02 sử dụng hệ điều hành Android 4.2, bộ nhớ trong lên tới 16GB, Chip Intel Atom Dual Core 1.6 GHz, Ram: 1GB, dung lượng pin 4150 mAh cho phép sử dụng liên tục từ 6-10 tiếng.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">04</div>
                                <div class="slc-title">Classbook có thể kết nối với những thiết bị nào? Thông qua cổng nào?</div>
                                <p>Classbook CB02 có 4 đường kết nối tới các thiết bị, bao gồm:
								<ul>
									<li style="margin-left:10px;"> - Cổng microSD cho phép đưa thẻ nhớ microSD lên tới 32GB.</li>
									<li style="margin-left:10px;"> - Cổng microUSB cho phép kết nối Classbook và máy tính.</li>
									<li style="margin-left:10px;"> - Cổng HDMI cho phép kết nối Classbook với màn hình TV hoặc máy chiếu (sử dụng dây chuyển đổi Micro HDMI sang VGA).</li>
									<li style="margin-left:10px;"> - Khe cắm thẻ ultrastick 3G cho phép người dùng nâng cấp để sử dụng 3G ngoài Wifi.</li>
								</ul></p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">05</div>
                                <div class="slc-title">Thời gian bảo hành thiết bị như nào?</div>
                                <p>Thiết bị được bảo hành trong vòng 12 tháng và 06 tháng đối với phụ kiện đi kèm (sạc, tai nghe, cáp kết nối) kể từ ngày mua hàng.  Ngoài thời hạn bảo hành, người dùng có thể sửa chữa thiết bị với mức chi phí hợp lý. “Của bền tại người”, nếu người dùng giữ gìn Classbook thì có thể sử dụng được lâu dài, đáp ứng nhu cầu học tập qua nhiều năm.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">06</div>
                                <div class="slc-title">Sử dụng Classbook có gây hại cho mắt hay không?</div>
                                <p>Với thiết kế màn hình cảm ứng đa điểm 8” IPS LCD công nghệ chống lóa đảm bảo độ sáng và độ phân giải không gây hại nhiều cho mắt, giúp người dùng đọc sách dễ chịu.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">07</div>
                                <div class="slc-title">Khi học sinh mang đến lớp, có cách nào giúp các em tránh cầm nhầm máy của nhau không?</div>
                                <p>Classbook phiên bản mới có tính năng “Khóa màn hình” và “Nhãn vở điện tử”, nhờ đó các em học sinh có thể đặt khóa màn hình riêng và Nhãn vở theo tên của mình để tránh các bạn khác cầm nhầm.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">08</div>
                                <div class="slc-title">Muốn mua sản phẩm Classbook có thể liên hệ ở đâu?</div>
                                <p>Quý vị có thể đặt mua trực tiếp trên website: <a href="www.classbook.vn">www.classbook.vn</a> hoặc gọi điện trực tiếp tới Hotline: <b style="color: red;">0902.138.004</b> (24/7) để được hỗ trợ giao hàng miễn phí trên toàn quốc.<br/>
								Hoặc quý vị có thể tìm mua tại các Đại lý, Nhà sách, Công ty Thiết bị trường học trên toàn quốc (danh sách cung cấp trên website).<br/>
								Ngoài ra quý vị có thể đến trực tiếp văn phòng Công ty tại:
								<ul>
									<li style="margin-left:10px;"> - 187B Giảng Võ, Đống Đa, Hà Nội. Điện thoại: 043.512.4007.</li>
									<li style="margin-left:10px;"> - Tầng 4F-D1, Tòa nhà Mirae Business, 268 Tô Hiến Thành, P.15, Q.10. TP.HCM</li>
								</ul></p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">09</div>
                                <div class="slc-title">Muốn tìm hiểu thông tin về Classbook có thể tìm hiểu ở đâu?</div>
                                <p>Quý vị có thể truy cập website: <a href="www.classbook.vn">www.classbook.vn</a> hoặc gọi điện đến <b>043.512.4007/ 0902.138.004</b> để được tư vấn cụ thể về sản phẩm.</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-03">
                            <div class="slc-item">
                            	<div class="slci">01</div>
                                <div class="slc-title">Classbook CB01 phiên bản Học sinh có tải và sử dụng được Kho bài giảng Violet như phiên bản Giáo viên hay không?</div>
                                <p>Classbook phiên bản Học sinh có thể tải được các clip thuộc hệ thống Kho bài giảng Violet nhưng không tải được các file powerpoint từ Kho bài giảng như phiên bản Giáo viên.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">02</div>
                                <div class="slc-title">Các ứng dụng, game giáo dục có thể tải trực tiếp bằng Classbook Store thông qua kết nối Wifi không? Hay người dùng phải kết nối Classbook với máy tính và dùng phần mềm Classbook Manager để tải về?</div>
                                <p>Hiện tại Classbook cho phép người dùng tải các ứng dụng, game giáo dục trực tiếp qua Classbook Store bằng cách kết nối Wifi chứ không cần phải kết nối qua máy tính và tải về qua Classbook Manager.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">03</div>
                                <div class="slc-title">Khi người dùng sử dụng mật khẩu Nhãn vở nhưng quên mất mật khẩu và không thay thế được thông tin nhãn vở thì làm thế nào?</div>
                                <p>Người dùng có thể tải phần mềm Classbook Manager về, kết nối thiết bị Classbook với máy tính, vào mục “Thiết bị/ Thay đổi mật khẩu nhãn vở” để thay đổi mật khẩu mới.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">04</div>
                                <div class="slc-title">Học sinh có được mang Classbook tới lớp hay không?</div>
                                <p>Classbook là công cụ chủ yếu chuyên dụng cho học tập. Chính vì vậy Ban giám hiệu và Giáo viên hoàn toàn đồng ý cho các em học sinh mang Classbook tới trường học tập.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">05</div>
                                <div class="slc-title">Tôi lo ngại con, em hiếu động có thể làm rơi vỡ Classbook?</div>
                                <p>Đối với sản phẩm Classbook CB01 chúng tôi có thiết kế và cung cấp riêng một bao da đi kèm thiết bị nhằm hạn chế thiệt hại trong trường hợp va đập. Tuy nhiên quý vị phụ huynh vẫn nên hướng dẫn con em mình có ý thức giữ gìn đồ đạc của mình.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">06</div>
                                <div class="slc-title">Nếu muốn cập nhật, nâng cấp phần mềm mới cho thiết bị thì làm thế nào?</div>
                                <p>Quý vị có thể mang thiết bị Classbook qua Công ty tại 187B Giảng Võ để được cập nhật phần mềm mới nhất cho thiết bị.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">07</div>
                                <div class="slc-title">Ngoài nội dung Sách giáo khoa sẵn có trong Classbook, người dùng có sử dụng được các tài liệu khác bên ngoài copy vào hay không?</div>
                                <p>Đối với phiên bản Giáo viên, người dùng có thể sử dụng các file word, ppt, pdf bằng cách copy vào thẻ nhớ và chọn mục “Thẻ MicroSD” trong Classbook để mở. Với phiên bản Học sinh, chỉ có thể mở các file nhạc định dạng mp3.</p>
                            </div>
                            <div class="slc-item">
                            	<div class="slci">08</div>
                                <div class="slc-title">Chúng tôi có thể sử dụng nội dung Sách giáo khoa điện tử trên thiết bị máy tính bảng của mình được không?</div>
                                <p>Nội dung sách giáo khoa điện tử đã được mã hóa,và thuộc bản quyền của NXBGD Việt Nam và chỉ sử dụng trên Classbook mà không thể sử dụng trên bất kỳ một thiết bị máy tính bảng nào khác.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>