{{extend 'layout.html'}}
<a href="{{=URL(f='index')}}">Thêm Biên Tập</a>
{{=form}}
<script>
    function delete_interactive(id){
        if (confirm("Bạn chắc chắn muốn xóa?")){
            $.ajax({
                url : "{{=URL(f='delete.json')}}/" + id,
                success: function(data, textStatus, jqXHR)
                {
                    if (data.result){
                        window.location.reload();
                    }else{
                        alert(data.mess)
                    }
                },
                error: function(xhr, status, error) {
                  var err = eval("(" + xhr.responseText + ")");
                  alert(err.Message);
                }
            });
        }
    }

</script>