<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ngân Lượng Report - Thẻ Cào</title>
    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <style>
        table {
            border-spacing:10px;
            border-collapse:collapse;
            border: 1px solid;
        }
        table td, table th
        {
            padding: 5px;
            border: 1px solid;
        }
    </style>
</head>
<body>
<div style="position: absolute; top: 30px; left: 600px;">
    <a href="{{=URL('report_checkout')}}"><input type="button" value="Checkout Report"></a>
</div>
<h1>Ngân Lượng Report - Thẻ Cào</h1>
<form method="post">
    <label>
        Xem report trong tháng:
        <select autofocus="1" name="month" onchange="$('form').submit()">
            {{for i in range(12):}}
            <option{{if month == dates[i]:}} selected="selected"{{pass}}>
                {{=dates[i]}}
            </option>
            {{pass}}
        </select>
    </label>
    <a href="{{=URL('export', args=month.split('-'))}}"><input type="button" value="Export"></a>
</form>
<table>
    <tr>
        <th>STT</th>
        <th>Mã GD</th>
        <th>Loại Thẻ</th>
        <th>Mệnh Giá</th>
        <th>Phí GD</th>
        <th>Doanh Thu</th>
        <th>Ngày GD</th>
        <th>Thời Gian</th>
    </tr>
    {{from transaction import money}}
    {{count = 1}}
    {{for t in data['trans']:}}
    <tr>
        <td style="text-align: center;">{{=count}}</td>
        <td style="text-align: center;">{{=t.merchant_id}}</td>
        <td style="text-align: center;">{{=t.payment_type}}</td>
        <td style="text-align: right;">{{=money(t.card_amount)}}</td>
        <td style="text-align: right;">{{=money(t.fee)}}</td>
        <td style="text-align: right;">{{=money(t.amount)}}</td>
        <td style="text-align: center;">{{=t.created_on.date()}}</td>
        <td style="text-align: center;">{{=t.created_on.time()}}</td>
    </tr>
    {{count += 1}}
    {{pass}}
    {{if count == 1:}}
    <tr><td style="text-align: center;" colspan="8">Không có giao dịch nào trong tháng này!</td></tr>
    {{pass}}
    <tr>
        <th>STT</th>
        <th>Nhà Mạng</th>
        <th>Số Lượng</th>
        <th>Tổng GD</th>
        <th>Tổng Phí</th>
        <th>Tổng Thu</th>
        <th>% Phí</th>
    </tr>
    <tr>
        <td style="text-align: center;">1</td>
        <td style="text-align: center;">Viettel</td>
        <td style="text-align: center;">{{=money(data['vtt'].card)}}</td>
        <td style="text-align: right;">{{=money(data['vtt'].amount)}}</td>
        <td style="text-align: right;">{{=money(data['vtt'].fee)}}</td>
        <td style="text-align: right;">{{=money(data['vtt'].profit)}}</td>
        <td style="text-align: right;">{{=data['vtt'].ratio}}%</td>
    </tr>
    <tr>
        <td style="text-align: center;">2</td>
        <td style="text-align: center;">Mobiphone</td>
        <td style="text-align: center;">{{=money(data['vms'].card)}}</td>
        <td style="text-align: right;">{{=money(data['vms'].amount)}}</td>
        <td style="text-align: right;">{{=money(data['vms'].fee)}}</td>
        <td style="text-align: right;">{{=money(data['vms'].profit)}}</td>
        <td style="text-align: right;">{{=data['vms'].ratio}}%</td>
    </tr>
    <tr>
        <td style="text-align: center;">3</td>
        <td style="text-align: center;">Vinaphone</td>
        <td style="text-align: center;">{{=money(data['vnp'].card)}}</td>
        <td style="text-align: right;">{{=money(data['vnp'].amount)}}</td>
        <td style="text-align: right;">{{=money(data['vnp'].fee)}}</td>
        <td style="text-align: right;">{{=money(data['vnp'].profit)}}</td>
        <td style="text-align: right;">{{=data['vnp'].ratio}}%</td>
    </tr>
    <tr>
        <th colspan="2">TỔNG</th>
        <td style="text-align: center;">{{=money(data['total'].card)}}</td>
        <td style="text-align: right;">{{=money(data['total'].amount)}}</td>
        <td style="text-align: right;">{{=money(data['total'].fee)}}</td>
        <td style="text-align: right;">{{=money(data['total'].profit)}}</td>
    </tr>
</table>
</body>
</html>