<!DOCTYPE html>
<html>
<head>
    <title>Thống kê lượt tải theo sản phẩm</title>{{extend "layout.html"}}
<link href="{{=URL('static','css/datepicker.css')}}" type="text/css"  rel="stylesheet"/>
<script src="{{=URL('static','js/canvg/canvg.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/canvg/jsapi')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/canvg/rgbcolor.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/bootstrap-datepicker.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/locales/bootstrap-datepicker.vi.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/jquery.tablesorter.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/tableToExcel.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/chartToImage.js')}}" type="text/javascript"></script>

<div class="clsb_container">
    <button class="btn" style="float: right;" onclick="tableToExcel('tablelistTotal', 'Thống kê')">Xuất ra Excel</button>
    {{if data:}}
            {{=TABLE(
                    THEAD(
                            TR(
                                TH("ID", _class="header"),
                                TH("Title", _class="header"),
                                TH("Code", _class="header"),
                                TH("pdf", _class="header"),
                                TH("zip", _class="header"),
                            ),
                    ),
                    *[TR(
                        TD(data[i]['id']),
                        TD(data[i]['title']),
                        TD(data[i]['code']),
                        TD(data[i]['pdf']),
                        TD(data[i]['zip']),
                     ) for i in range(len(data))],
                    _id="tablelistTotal",
                    _class="tablesorter"
            )}}
            {{pass}}
</div>
<script src="{{=URL('static','js/bootstrap-select.min.js')}}" type="text/javascript"></script>
</head>
<body>

</body>
</html>