{{extend 'layout.html'}}
<h1>Khôi phục mật khẩu</h1>
<br/>


<form method="POST">
    {{if pwd is not None:}}
    <div id="pwd"><h4>Mã khôi phục:  {{=pwd}}</h4></div>
    {{pass}}

    <br/>
    <table>
        <tr>
            <td>
                Serial máy:
            </td>
            <td>
                <input type="text" name="serial" id="serial">
            </td>
        </tr>
        <tr>
            <td>
                Chuỗi bảo mật:
            </td>
            <td>
                <input type="text" name="secretkey" id="secretkey">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Khôi phục"></td>
        </tr>
    </table>
</form>